/*
* @Author: Administrator
* @Date:   2019-04-12 10:17:40
* @Last Modified by:   Administrator
* @Last Modified time: 2019-04-12 13:13:50
*/
.qroom ul{
	margin-bottom:1.1rem;
}
.qroom a{
	width:100%;
	display: block;
}