/*
* @Author: Administrator
* @Date:   2019-04-12 13:18:34
* @Last Modified by:   Administrator
* @Last Modified time: 2019-04-12 13:33:25
*/
.teaindex ul{
	margin-bottom:1.1rem;
}
.teaindex .layui-collapsea{
	width:100%;
	display: block;
}
.teaindex h3{
	position: relative;
}
.teaindex .tuic{
	position: absolute;
	right:1rem;
	bottom:0;
	font-size: 1.7rem;
	font-weight: 700;
	color:red;
}