<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Document</title>
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="lib/layui-v2.4.5/layui/css/layui.css">
		<link rel="stylesheet" href="css/default.css">
		<link rel="stylesheet" href="css/stu-index.css">
		<link rel="stylesheet" href="css/footer.css">
		<script src="lib/js/jquery-1.9.1.min.js"></script>
		<script src="lib/bootstrap/dist/js/bootstrap.min.js"></script>
		<script src="lib/layui-v2.4.5/layui/layui.js"></script>
		<script src="lib/js/vue.js"></script>
		<script src="lib/js/axios.js"></script>
		<script src="js/stu-index.js"></script>
		
	</head>
	<body>
		<div class="container qroom" id="qroom">
			<div class="row" style="text-align:center;padding-top:1rem;">
				<h3>琴房</h3>
				<hr>
			</div>
			<div class="row">
				<div class="layui-collapse">
					<div class="layui-colla-item">
						<h2 class="layui-colla-title louname"></h2>
						<div class="layui-colla-content layui-show">
							<ul class="ul1">
								<h2 class="layui-colla-title cg">{{citems1}}</h2>
								
								<div class="layui-colla-content layui-show">
									<table class="table">
										<tr v-for="item in items1">
											<td>
												<a href="#">{{item.name}}</a>
											</td>
										</tr>
									</table>
								</div>
							</ul>
							<ul>
								<h2 class="layui-colla-title">{{citems2}}</h2>
								<div class="layui-colla-content">
									<table class="table">
										<tr v-for="item in items2">
											<td><a href="#">{{item.name}}</a></td>
										</tr>
										
									</table>
								</div>
							</ul>
							<ul>
								<h2 class="layui-colla-title">{{citems3}}</h2>
								<div class="layui-colla-content">
									<table class="table">
										<tr v-for="item in items3">
											<td><a href="#">{{item.name}}</a></td>
										</tr>
										
									</table>
								</div>
							</ul>
							<ul>
								<h2 class="layui-colla-title">{{citems4}}</h2>
								<div class="layui-colla-content">
									<table class="table">
										<tr v-for="item in items4">
											<td><a href="#">{{item.name}}</a></td>
										</tr>
										
									</table>
								</div>
							</ul>
							<ul>
								<h2 class="layui-colla-title">{{citems5}}</h2>
								<div class="layui-colla-content">
									<table class="table">
										<tr v-for="item in items5">
											<td><a href="#">{{item.name}}</a></td>
										</tr>
										
									</table>
								</div>
							</ul>
							<ul>
								<h2 class="layui-colla-title">{{citems6}}</h2>
								<div class="layui-colla-content">
									<table class="table">
										<tr v-for="item in items6">
											<td><a href="#">{{item.name}}</a></td>
										</tr>
										
									</table>
								</div>
							</ul>
							
						</div>
					</div>
				</div>
				
			</div>
		</div>
		<!-- 底部开始 -->
		<div class="container footer" style="text-align:center;">
			<div class="row">
				<div class="col-md-4 col-sm-4 col-xs-4">
					<a href="stu-index.html">
						<p class="glyphicon glyphicon-folder-open"></p>
						<p>预约课程</p>
					</a>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-4">
					<a href="yuyue.html">
						<p class="glyphicon glyphicon-cloud"></p>
						<p>记录</p>
					</a>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-4">
					<a href="me.html">
						<p class="	glyphicon glyphicon-user"></p>
						<p>我的</p>
					</a>
				</div>
			</div>
		</div>
		<!-- 底部结束 -->
	</body>
	<script>
	//注意：折叠面板 依赖 element 模块，否则无法进行功能性操作
	layui.use('element', function(){
		var element = layui.element;
	});
	var stuindex = new Vue({
			el: "#qroom",
			data() {
				return {
					items1: [],
					items2: [],
					items3: [],
					items4: [],
					items5: [],
					items6: [],
					citems1:"",
					citems2:"",
					citems3:"",
					citems4:"",
					citems5:"",
					citems6:""
				}
			}
		});
	</script>
	
</html>